.category {
  height: 80px;

  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
}

.selected-category {
  color: var(--c-primary);

  /* underline */
  -webkit-box-shadow: inset 0px -2px 0px 0px var(--c-primary);
  box-shadow: inset 0px -2px 0px 0px var(--c-primary);
}
