#minicart-button{
  position: relative;
  margin-left: 22px;

  cursor: pointer;
}

#item-count{
  position: absolute;
  background-color: #1D1F22;
  
  text-align: center;

  color:white;
  font-weight: 700;

  border-radius: 50%;

  font-size: 14px;

  width: 20px;
  height: 20px;
  
  top:0;
  right:0;

  transform: translate(40%, -40%);

} 


#minicart-content{
  position: absolute;
  
  width: 420px;
  height: auto;
  max-height: 450px;
  overflow-y: auto;
  background-color: white;
  transform: translateX(-90%);
  padding: 10px;

  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);

  z-index: 2;
}

.minicart-title{
  font-weight: 700;
}


.minicart-title span{
  font-weight: 400;
}

.minicart-img{
  height: 150px;
  width: 120px;
  object-fit: cover;
  margin:0;
  margin-left:-10px;
}


.minicart-item{
  width: 100%;
  height:150px;
  display: flex;
  justify-content: space-between;
  margin:15px 0;
}

.minicart-item-details{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.minicart-item-attributes{
  display: flex;
}

#footer{
  width: 390px;
  display: flex;
  gap:10px;
  margin:10px 0;
  flex-direction: column;
}

#footer .total{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
}

#footer .buttons {
  display: flex;
  gap:10px;
}

#footer button{
  flex:1;
  cursor: pointer;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

#view-bag{
  background-color: white;
  cursor: pointer;
  color: var(--c-text);
  font-weight: 600;
  border: 2px solid var(--c-text);
  width:100%
}

#view-bag-link{
  flex:1; 
}

#checkout{
  border:none;
  background-color: var(--c-primary);
  cursor: pointer;
  color: white;
  font-weight: 600;
}

#checkout:hover, #view-bag:hover{
  filter: brightness(0.9);
}


.attr{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 800;
  gap:5px;
}

#backdrop div{
  width: 100%;
  height: 100%;
  background-color: rgba(168, 172, 176, 0.19);
  z-index: 0;
}